.card-primary.card-outline {
    border-top: none !important;
    border: none !important;
}
.btn-success {
    background-color: gray;
    border: none;
}
.btn {
    border-radius: 20px !important;
    margin: 5px !important;
}
.btn-outline-info{
    color: gray;
    border-color: gray;
}
.btn:hover{
    background-color: grey;
    border-color: grey;
}
.vTextField:focus{
    border: none;
    box-shadow: none;
}
.main-footer .float-right{
    display: none !important;
}
.brand-text{
    margin-left: 5px !important;
}
.info{
    margin-left: 5px !important;
}
